{% extends 'base.html' %}

{% block title %}Додати товар - ZLAGODA{% endblock %}

{% block content %}
<div class="login-container" style="max-width: 500px; margin-top: 5vh;">
    <h2 style="margin-bottom: 20px;">Новий товар</h2>
    
    <form method="POST" action="/manager/products/add">
        
        <div class="form-group">
            <label for="id_product">ID Товару (Артикул)</label>
            <input type="text" id="id_product" name="id_product" class="form-control" placeholder="Наприклад: 15" required>
        </div>

        <div class="form-group">
            <label for="category_number">Категорія (Випадаючий список)</label>
            <select id="category_number" name="category_number" class="form-control" required style="cursor: pointer;">
                <option value="" disabled selected>-- Оберіть категорію --</option>
                {% for cat in categories %}
                    <option value="{{ cat[0] }}">{{ cat[1] }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-group">
            <label for="product_name">Назва товару</label>
            <input type="text" id="product_name" name="product_name" class="form-control" placeholder="Наприклад: Сік Яблучний" required>
        </div>

        <div class="form-group">
            <label for="producer">Виробник</label>
            <input type="text" id="producer" name="producer" class="form-control" placeholder="Наприклад: Сандора" required>
        </div>

        <div class="form-group">
            <label for="characteristics">Характеристики</label>
            <input type="text" id="characteristics" name="characteristics" class="form-control" placeholder="Об'єм, вага, упаковка..." required>
        </div>

        <button type="submit" class="btn-primary">Зберегти товар</button>
        <button type="button" class="btn-primary" style="background-color: transparent; color: var(--text-main); border: 2px solid #eee; margin-top: 15px;" onclick="window.location.href='/manager/products'">Скасувати</button>
    </form>
</div>
{% endblock %}